body {
	background-color: #eeeeee;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

header h1 {
	padding-top: 15px;
	font-family: "Crimson-Semibold", "Times New Roman", Georgia, serif;
	font-size: 48px;
	color:#44f;
}

/* The main shopping div */
#shoppingList {
	position: relative;
	height:100%;
	font-family: verdana,helvetica,arial,sans-serif;
	margin-left: 40px;
	font-size: 18px;
}

	#shoppingList img {
		height:24px;
		width: 24px;
		cursor: pointer;			
	}

	/* The form where items are added to the shopping list */
	#addSection {
		position: relative;
		height: 27px;
		margin-bottom: 15px;
	}

		#addItemText {
			display: inline-block;
			vertical-align: middle;
			width: 75%;
			height:100%;
			font-size: 14px;
		}

		#addItemButton {
			display: inline-block;
			vertical-align: middle;
		}

	/* The area where the items are displayed */
	#itemsDiv {
	}

		#icons {
			position: relative;
			width:75%;
			/*height:24px;*/
		}

			#icons img {
				float:right;
				margin-left: 10px;
			}

		#items li {
			margin-bottom: 5px;
		}

		#items li label.checked {
			text-decoration: line-through;
			color:#999;
		}

/* Used to style the jQuery tooptip */
.ui-tooltip {
	font-size: 9px;
}
